*.qmlc
*~
.directory
__pycache__
du.log

MANIFEST
build/
dist/
doc/sphinx/build/
doc/sphinx/source/api/
BookBrowser.egg-info/

BookBrowser/QtApplication/rcc/BookBrowserRessource.py
BookBrowser/QtApplication/rcc/book-browser.rcc

BookBrowser/QtApplication/rcc/translations/book-browser.fr_FR.ts
*.po
*.qm

BookBrowser/QtApplication/qml/Widgets/QTBUG.txt
BookBrowser/QtApplication/qml/Widgets/pinch-area.qml
devel/
notes/
resources/
test-directory/
trash/
