*.qmlc
*~
.directory
__pycache__
du.log

MANIFEST
build/
dist/
doc/sphinx/build/
doc/sphinx/source/api/

BookBrowser/QtApplication/rcc/BookBrowserRessource.py
BookBrowser/QtApplication/rcc/book-browser.rcc

BookBrowser/QtApplication/rcc/icons/36x36-unused/
TOFIX.txt
devel/
template-variables.txt
topics.txt

notes.txt

BookBrowser/QtApplication/qml/Widgets/pinch-area.qml
BookBrowser/QtApplication/rcc/icons/scripts/material-design-icons
delta_hist.txt
test-directory/
